<style type="text/css">

body {
    background-color: black ;
}

a {
    font-size: 34px ;
    color: dimgray ;
    font-family: Copperplate ;
}

p {
    background-color: green ;
}


        
</style>